<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="page-part"  th:fragment="pagination">
        <ul class="pagination" id="page"></ul>
        <p id="pText-test"></p>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $("#page").jqPaginator({
                totalPages: [[${page.totalPageNum}]],
                visiblePages: 7,
                currentPage: [[${page.currentPage}]],
                first: '<li class="first"><a href="/#container">首页<\/a><\/li>',
                //prev: '<li class="prev"><a href="javascript:;" onclick="clickFn(\'${currentPage-1}\')"><i class="arrow arrow2"><\/i>上一页<\/a><\/li>',
                //next: '<li class="next"><a href="javascript:; " onclick="clickFn(\'${currentPage+1}\')">下一页<i class="arrow arrow3"><\/i><\/a><\/li>',
                //last: '<li class="last"><a href="javascript:;" onclick="clickFn(\'${totalPages}\')">末页<\/a><\/li>',
                page: '<li class="page"><a href="javascript:;" onclick="clickFn({{page}})">{{page}}<\/a><\/li>',
                onPageChange: function (n) {
                    $("#pText-test").html("当前第" + n + "页");
                }
            });
            /*]]>*/
        </script>

        <script type="text/javascript">
            function clickFn(idName){
                url="/page/"+idName
                window.location.href=url
            }
        </script>
    </div>


</body>


</html>