<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

  <head th:replace="blog/part/head :: head"></head>

  <body>

  <!-- Navigation -->
  <nav th:replace="blog/part/navigation :: mainNav"></nav>


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>关于我</h1>
              <!--span class="subheading"></span-->
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>联系邮箱：</p>
          <p></p>
          <p></p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer id="footer" th:replace="blog/part/footer :: footer"></footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/clean-blog.min.js}"></script>

  </body>

</html>
