<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head th:fragment="head">
  <meta charset= "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content=${article.description}>
  <meta name="author" content="Yui_tycc">

  <title th:text="${article.title}"></title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{../vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

  <!-- Custom fonts for this template -->
  <link th:href="@{../vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link th:href="@{../css/clean-blog.min.css}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav th:replace="blog/part/navigation :: mainNav"></nav>

  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1 th:text="${article.title}"></h1>
            <span class="meta" th:text="${article.createTime}">
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" th:utext="${article.content}">
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer id="footer" th:replace="blog/part/footer :: footer"></footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{../vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Custom scripts for this template -->
  <script th:src="@{../js/clean-blog.min.js}"></script>

</body>

</html>
